<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAux8qB5ithCLBpYBFaJXCSstEwrP-gsY</string>
	<key>GCM_SENDER_ID</key>
	<string>644515180856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TwoCents.TwoCents.TwoCentsWidgetExtension</string>
	<key>PROJECT_ID</key>
	<string>twocents-82a02</string>
	<key>STORAGE_BUCKET</key>
	<string>twocents-82a02.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644515180856:ios:b435e6cf8abd45208711cd</string>
</dict>
</plist>